html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    
    width: 100%;
    height: 100%;
}

.navbar {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: rgb(255, 0, 0);
    font-family: cursive;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #988a8ae0;
    position: fixed;
    width: 100%;
    top: 0;
}



.navlogo {
    display: flex;
    
}

.navlogo h1 {
    
}

.logo {
    

}

.navbar a {
    text-decoration: none;
    font-size: 1rem;
    padding: .5rem;
    color: white;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 30px;
}

.navlink {
display: flex;
flex-direction: row-reverse;
}

.intro {
    padding-top: 40%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
    background-color: rgb(207, 171, 171);
}

.intro h1 {
    font-size: 170%;
    border-radius: 30px;
    background-color: rgba(111, 92, 92, 0.485);
    margin: auto 10%;
    padding: 1%;
}

.intrologo img {
    
    width: 75%;
}


.firstpage {
    min-height: 100%;
    background-color: rgb(188, 222, 187);
    display: flex;
    padding: 10% 5%;


}



.fr {
    font-size: 20px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    background-color: rgba(111, 92, 92, 0.485);
}

.card-group {
    padding: 10px;
}

.card {

    background-color: #bca2ea96;

}

.card-img-top {
    height: 250px;
}




.about {
    min-height: 100%;
    background-color: rgb(187, 222, 220);
    display: flex;
    flex-direction: column;
    padding: 0px 70px;

}

.al {
    font-size: 20px;
    width: 100%;
    border-radius: 30px;
    margin: 10% auto;
    padding: 5%;
    color: white;
    background-color: rgba(111, 92, 92, 0.485);
}

.ar {
    font-size: 20px;
    width: 100%;
    border-radius: 30px;
    margin: 10% auto;
    padding: 5%;
    color: white;
    background-color: rgba(111, 92, 92, 0.485);
}



.contact {
    width: 100%;
}
